<div class="p-4 space-y-4 flex justify-center">
    <div class="relative w-full max-w-md">
      <input
        type="text"
        placeholder="Busque aquí"
        class="p-2 pl-10 border rounded w-full"
        (input)="filterByName($event)"
      />
      <mat-icon class="absolute left-2 top-2 text-gray-500">search</mat-icon>
    </div>
  </div>
  
  <!-- Botones de categorías -->
  <div
    class="categories-container my-4"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd()"
  >
    <div class="categories flex space-x-2 justify-center">
      <button
        *ngFor="let category of displayCategories"
        (click)="filterByCategory(category)"
        class="px-4 py-2 rounded-lg text-sm font-semibold border category-button"
        [class.bg-orange-500]="selectedCategory === category"
        [class.text-white]="selectedCategory === category"
        [class.bg-white-200]="selectedCategory !== category"
      >
        <mat-icon>{{ categoryIconMap[category] || 'category' }}</mat-icon>
        {{ categoryMap[category] || category }}
      </button>
    </div>
  </div>
  
  <!-- Loader -->
  <mat-spinner
    *ngIf="loading()"
    diameter="50"
    class="spinner-center custom-spinner"
  ></mat-spinner>
  
  <!-- Listado de productos -->
  <div *ngIf="!loading()" class="p-8 grid grid-cols-2 gap-4">
    <app-product-card
      *ngFor="let product of paginatedProducts()"
      [product]="product"
    ></app-product-card>
  </div>
  
  <div
    *ngIf="!loading() && paginatedProducts().length === 0"
    class="text-center py-4"
  >
    <p>No se encontraron productos</p>
  </div>
  
  <!-- Paginación -->
  <div
    *ngIf="!loading() && totalPages() > 1"
    class="mt-6 flex justify-center mb-6"
  >
    <button
      *ngFor="let page of pages(); let i = index"
      class="px-4 py-2 mx-1 text-sm font-semibold bg-gray-300 rounded-lg"
      [class.bg-blue-500]="currentPage() === i + 1"
      (click)="goToPage(i + 1)"
    >
      {{ i + 1 }}
    </button>
  </div>